{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps,[
    {ephp, {git, "https://github.com/bragful/ephp.git", {branch, "master"}}},
    {p1_mysql, "1.0.11"}
]}.

{escript_incl_apps, [ezic, zucchini, unistring, recon, p1_mysql]}.
{escript_emu_args, "%%! -pa ephp/ephp/ebin "
                       "-pa ephp/ezic/ebin "
                       "-pa ephp/zucchini/ebin "
                       "-pa ephp/recon/ebin"
                       "-pa ephp/p1_mysql/ebin\n"}.

{project_plugins, [rebar3_hex, covertool]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.
{cover_export_enabled, true}.

{profiles, [
    {doc, [
        {plugins, [rebar_edown_plugin]},

        {edoc_opts,[
            {doclet, edown_doclet},
            {edown_target, github},
            {top_level_readme, {"./README.md", "http://github.com/bragful/ephp_mysql"}}
        ]}
    ]}
]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls,deprecated_functions]}.
